// DECLARATION OF COLORS
$colors: ();

// DECLARTION OF IMG SIZES

// DECLARATION OF HTML PROPERTIES
html{

    // THIS IS FOR THE BODY
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body {

    // FOR BLUR EFFECT IN MOBILE
    .mobile-effect {
        filter: blur(3px);
        -webkit-filter: blur(3px);
        transition: 1s ease;
    }

    // NAVIGATION
    #theNavigation {
        border-bottom: 1px solid;
        position: fixed;
        top: 0;
        width: 100%;
        display: block;
        transition: top 0.3s;

        .nav {
            display: flex;
            justify-content: space-around;
            align-items: center;

            #theLogo {
                width: 60px;
                height: 60px;
            }

            #theLinks {
                text-decoration: none;
                margin: 0 0.5rem;
            }

            .links {
                display: flex;

                .nav-dropdown-hover:hover {
                    .nav-drop-down {
                        border: 1px solid;
                        padding: 0.5em 2em;
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                    }
                }

                .nav-drop-down {
                    display: none;
                }
            }

            .search {
                display: flex;
                align-items: center;

                .nav-search {
                    display: none;
                }
            }
        }
    }

    // MOBILE NAV
    .mobile-nav-link {
        display: none;
        top: 0;
        right: 0;
        height: 100vh;
        width: 270px;
        padding: 1rem 1rem;
        border-left: 1px solid;
        position: fixed;
        top: 0;
        transition: top 0.3s;

        .mobile-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .mobile-search-links {
            display: flex;

            #theSearchBar {
                width: 168px;
            }
        }

        .links-for-mobile {
            list-style-type: none;

            .nav-drop-down-mobile {
                display: none;
            }

            #navDropDownMobile {
                display: flex;
                flex-direction: column;
                margin-left: 0.5em;
            }
        }
    }

    // FOR THE MAIN CONTENTS
    .main-contents{
        padding: 2rem 0;
        border-bottom: 1px solid;

        .main-title{
            text-align: center;
            padding-top: 1rem;
        }

        .col-md-4{
            text-align: center;
            margin-top: 1rem;

            .event-container{
                border: 1px solid;
                padding: 1rem 1rem;

                #eventImg{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

        // FOR THE CAROUSEL CONTENT
    .carousel-content {
        margin-top: 5rem;
        display: flex;
        justify-content: center;
        border-top: 1px solid;
        border-bottom: 1px solid;

        .image-carousel {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 300px;
        }
    }

    // FOR THE SOCIAL
    .social-media {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        #btnSocialMedia {
            width: 30px;
            height: 30px;
        }

        .social-btn, .developers {
            text-align: center;
        }
    }
}

// DECLARATION OF MEDIA QUERY
@media(max-width: 658px) {

    #theLinks,
    #theLinksHover,
    #theSearchLink {
        display: none;
    }
}

@media(min-width: 658px) {
    .mobile-menu {
        display: none;
    }
}