// DECLARATION OF COLORS
$colors: ();

// DECLARTION OF IMG SIZES

// DECLARATION OF HTML PROPERTIES
html{

    // THIS IS FOR THE BODY
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body {

    // FOR THE SOCIAL
    .social-media-accounts {
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        #socialIcons{
            text-decoration: none;
        }

        .developers {
            text-align: center;
        }
    }
}
