<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/src/styles/footer.css">
</head>

<body>

    <div class="social-media">
        <div class="container">
            <div class="social-media-accounts">
                <div class="social-btn">
                    <a id="socialIcons" href="http://" target="_blank" rel="noopener noreferrer">
                        <img src="/svg/Facebook - Original.svg" alt="" height="30" width="30">
                    </a>
                    <a id="socialIcons" href="http://" target="_blank" rel="noopener noreferrer">
                        <img src="/svg/Instagram - Original.svg" alt="" height="30" width="30">
                    </a>
                    <a id="socialIcons" href="http://" target="_blank" rel="noopener noreferrer">
                        <img src="/svg/Twitter - Original.svg" alt="" height="30" width="30">
                    </a>
                    <a id="socialIcons" href="http://" target="_blank" rel="noopener noreferrer">
                        <img src="/svg/Discord - Original.svg" alt="" height="30" width="30">
                    </a>
                </div>
                <div class="developers">
                    <samp id="developed"></samp>
                </div>
            </div>
        </div>
    </div>

    <script>
        // DEVELOPERS AND WEB VERSION
        const developVersion = {
            version: "Development Build ",
            developers: "Organization ",
            school: "Xavier University"
        };

        const {
            version: version,
            developers: developers,
            school: school
        } = developVersion;

        document.getElementById('developed').innerHTML = version;

    </script>

</body>

</html>
