<!DOCTYPE html>
<html lang="en">

<body>

    <div class="social-media">
        <div class="container">
            <div class="social-media-accounts">
                <div class="social-btn">
                    <a href=""><img id="btnSocialMedia" src="./img/sample.png" alt=""></a>
                    <a href=""><img id="btnSocialMedia" src="./img/sample.png" alt=""></a>
                    <a href=""><img id="btnSocialMedia" src="./img/sample.png" alt=""></a>
                    <a href=""><img id="btnSocialMedia" src="./img/sample.png" alt=""></a>
                </div>
                <div class="developers">
                    <samp>© Developed by Xavier University - Office of Management Information System</samp>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
