<!DOCTYPE html>
<html lang="en">

<body>

    <div class="navigation" id="theNavigation">
        <div class="container nav">
            <!-- THIS IS FOR NAV LOGO -->
            <div class="logo">
                <a href=""><img id="theLogo" src="./img/sample.png" alt=""></a>
            </div>
            <!-- THIS IS FOR NAV LINKS -->
            <div class="links">
                <a id="theLinks" href="/index.html">Home</a>
                <a id="theLinks" href="/src/pages/event.html">Events</a>
                <div class="nav-dropdown-hover">
                    <a id="theLinksHover">CSG <i class="fas fa-sort-down"></i></a>
                    <div class="nav-drop-down">
                        <a href="/src/pages/about.html">About CSG</a>
                        <a href="/src/pages/officeTransparancy.html">Offices & Transparancy</a>
                        <a href="/src/pages/iniatives.html">Iniatives</a>
                    </div>
                </div>
                <a id="theLinks" href="/src/pages/contact.html">Contact</a>
            </div>
            <!-- THIS IS FOR NAV SEARCH -->
            <div class="search">
                <div class="nav-search">
                    <input type="text" name="" id="theSearchBar">
                    <button>Search</button>
                </div>
                <a id="theSearchLink"><i class="fas fa-search"></i></a>
            </div>
            <!-- THIS IS FOR NAV MENU BUTTON WHEN MOBILE -->
            <div class="mobile-menu">
                <a id="theMobileMenu" onclick="openMenu()"><i class="fas fa-bars"></i></a>
            </div>
        </div>
    </div>

</body>

</html>
